<section id="todos">
  <header>
    <h2>Editing <%= @list_name %></h2>
    <ul>
      <li>
        <form class="delete" action="/lists/<%= @list_id %>/destroy" method="post">
          <button type="submit" class="delete">Delete List</button>
        </form>
      </li>
    </ul>
</header>

<form action="/lists/<%= @list_id %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for your  list:</label>
    </dt>
    <dd>
      <input name="new_list_name" placeholder="List Name" type="text" value="<%= params[:new_list_name] || @list_name %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @list_id %>">Cancel</a>
  </fieldset>
</form>
