

<ul id="lists">
  <% sort_lists(@storage.all_lists) do |list| %>
      <li class="<%= list_class(list) %>">
        <a>
          <h2><a href="/lists/<%= list[:id].to_s %>"><%= list[:name] %></a></h2>
          <p><%= remaining_todos_count(list)%> / <%= total_todos_count(list) %></p>
        </a>
      </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>
